.player-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1.5rem;
  /* grid-template-columns: 80%;
  row-gap: 10px; */
  align-content: center;
  margin-left: 5%;
  margin-right: 5%;
}
