.back-button {
  position: fixed;
  top: 3%;
  right: 3%;
  color: antiquewhite;
  font-size: 15px;
  font-weight: 700;
  background-color: #464eb8;
  width: 5rem;
  height: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: antiquewhite;
    color: #464eb8;
    border-style: solid;
    border-width: 3px;
    border-color: #464eb8;
  }
}
